@font-face {
    font-family: "Montserrat";
    src: url("../fonts/SF-Pro-Rounded-Heavy.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/SF-Pro-Rounded-Medium.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("..fonts/SF-Pro-Rounded-Thin.otf");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat";
    src: url("..fonts/SF-Pro-Rounded-bold.otf");
    font-weight: 500;
}