body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: rgb(79, 79, 79);
    background-color: white;
    margin-top: 140px;
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

@keyframes fadeOn {
    from {
      background-color: white
      box-shadow: 0 0 20px rgba(255, 255, 255, 0);
      color: white;
    }
    to {
        color: rgb(79, 79, 79);
        background-color: rgba(172, 151, 151, 0.392);
        box-shadow: 0 0 10px rgb(129, 127, 127);
    }
}

.container{
    border-radius: 20px;
    padding: 30px;
    margin: 30px;
    width: 300px;
    min-width: 300px;
    text-align: justify;
    box-shadow: 0 0 10px rgb(129, 127, 127);
    display: flex;
    flex-direction: column;
    line-height: 30px;
    justify-content: center;
    animation: fadeOn 5s ease forwards;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.montanas img {
    max-width: 100%;
    max-height: 100%;
}

.container p1{
    margin: 10px 0;
}

@keyframes Opacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

img{
    border-radius: 20px;
    animation: Opacity 5s;

}

h2{
    text-align: center;
}

h1{
    margin-bottom: 120px;
    animation: Opacity 5s;
}